{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA | {{title}}</title>
    <link rel="shortcut icon" href="{% static 'main/img/favicon.svg' %}" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/zoom.css' %}">
</head>
<body>
    <header class="header-container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span class="navbar-toggler-icon">{% include "menu_icon.svg" %}</span>
                        </button>
                        
                        <a class="navbar-brand" href="#">{% include "logo.svg" %}</a>
                    </div>
                    
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="#first">Преимущества</a></li>
                            <li class="nav-item"><a class="nav-link" href="#images">Фотографии</a></li>
                        </ul>
                    </div>
                    
                    <a href="{% url 'login' %}" class="btn btn-login">Вход</a>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <section id="first" class="first-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="first-section-title">{{title}}</h1>
                        <p class="first-section-text">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
                    </div>
                </div>
            </div>
            
            <div class="container advantages-container">
                <div class="row align-items-center">
                    <!-- Преимущества (плитка 2x2) - будут первыми на мобильных -->
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="row g-3 g-sm-4">
                            <!-- Каждый блок преимущества должен быть именно так -->
                            <div class="col-6">
                                <div class="advantage-item">
                                    <div class="advantage-icon">
                                        <img src="{% static 'main/img/shuttle_space.svg' %}" alt="shuttle_space">
                                    </div>
                                    <h3 class="advantage-title">Спейс шаттлы — пилотируемые корабли</h3>
                                </div>
                            </div>
                            <!-- Второе преимущество -->
                            <div class="col-6">
                                <div class="advantage-item">
                                    <div class="advantage-icon">
                                        <img src="{% static 'main/img/telescope.svg' %}" alt="telescope">
                                    </div>
                                    <h3 class="advantage-title">Лучшее телескопическое оборудование</h3>
                                </div>
                            </div>
                            <!-- Третье преимущество -->
                            <div class="col-6">
                                <div class="advantage-item">
                                    <div class="advantage-icon">
                                        <img src="{% static 'main/img/moon_stars_fill.svg' %}" alt="moon_stars_fill">
                                    </div>
                                    <h3 class="advantage-title">Исследовательские станции на Луне — шаг к новым открытиям!</h3>
                                </div>
                            </div>
                            <!-- Четвертое преимущество -->
                            <div class="col-6">
                                <div class="advantage-item">
                                    <div class="advantage-icon">
                                        <img src="{% static 'main/img/medal.svg' %}" alt="medal">
                                    </div>
                                    <h3 class="advantage-title">Золотая медаль по научным исследованиям</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Фото Земли (будет вторым на мобильных) -->
                    <div class="col-lg-6 mb-4 mb-lg-0 order-2 order-lg-1">
                        <div class="earth-image-container">
                            <img src="{% static 'main/img/earth.png' %}" alt="Земля из космоса" class="img-fluid earth-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="images" class="slider-section">
            <div class="container">
                <!-- Большой слайдер -->
                <div class="slider-for">
                    {% for image in slider_images %}
                    <div>
                        <img class="slider-image" src="{{ image.large_url }}" alt="{{ image.alt_text }}">
                    </div>
                    {% endfor %}
                </div>
                
                <!-- Навигационный слайдер (превью) -->
                <div class="slider-nav">
                    {% for image in slider_images %}
                    <div>
                        <img class="thumbnail-image" src="{{ image.thumbnail_url }}" alt="{{ image.alt_text }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    
    <!-- jQuery и Slick -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="{% static 'main/js/slider.js' %}"></script>
    <script src="{% static 'main/js/image-zoom.js' %}"></script>

</body>
</html>